header{
    margin-top: 0%;
    color: white;
    height: 50px;
    background-color: rgb(7, 201, 0);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 30px;
}
div.whole{
    margin: 0%;
    border: none;
}
body{
    margin: 0%;
    background-color: rgb(245, 245, 245);
}
div.link{
    margin: 5% 5% 5% 5%;
}
li.item{
    font-size: 20px;
    color: black;
    height: 50px;
    margin-top: 1px;
    background-color: white;
}
a {
    color: black;
    text-decoration: none;
    font-family: 'Sawarabi Gothic', sans-serif;
}
a:hover {
    text-decoration: underline;
}